<% include partials/home_header %>
  <link rel="stylesheet" href="/css/card.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
  <style>
      .text-primary {
        color: #485460 !important;
      }
  </style>

    <script>
        function printContent(el){
            var restorepage = document.body.innerHTML;
            var printcontent = document.getElementById(el).innerHTML;
            document.body.innerHTML = printcontent;
            window.print();
            document.body.innerHTML = restorepage;
        }
    </script>
  <% include partials/home_navbar %>
<a class="btn btn-danger btn-outline-danger m-3" href = "javascript:history.back()">Back</a>
<button class="btn btn-outline-primary" onclick="printContent('download_pdf')">Print Card</button>
<!-- <hr class="prettyline"> -->
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div id="download_pdf" class="bg-info" >
            <div>
              <section>
                  College Details
                <div>
                College Name: <%= cards.collegename %>
                </div>
                <div>
                College address: <%= cards.collegeaddress %>
                </div>
                <div>
                College No.: <%= cards.collegenumber %>
                </div>
                <div>
                 <img width="200px" height="200px" class="float-right img-thumbnail" src="<%= cards.logoimage %>" alt="">
                </div>
              </section>
              <section>
                Student Details
                <div>
                Student Name: <%= cards.studentname %>
                </div>
                <div>
                Student address: <%= cards.address %>
                </div> 
                <div>
                Student Roll no.: <%= cards.rollnumber %>
                </div> 
                <div>
                Student Branch <%= cards.branch %>
                </div>
                <div>
                Student Mobile: <%= cards.studentmobile %>
                </div>
                <div>
                Joining Date: <%= cards.yrofjoining %>
                </div>
                <div>
                Valid Upto: <%= cards.validupto %>
                </div>
                <div>
                  <img width="200px" height="200px" class="img-thumbnail float-right" src="<%= cards.image %>" alt="">
                </div>
              </section>
            </div>
        </div>
      </div>
    </div>

</div>
<!-- <hr class="prettyline"> -->






















  <footer class="text-muted">
      <div class="container">
        <button onclick="topFunction()" id="goTop">Top</button>
        
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
    <script src="/js/animatedModal.js"></script>

    <script>
      $(".resume-form").animatedModal({
        animatedIn: 'lightSpeedIn',
        animatedOut: 'bounceOut'
      });
    </script>



    <script>
      
      window.onscroll = function() {scrollFunction()};
      window.onload = function() {
        scrollFunction()
      };
      function scrollFunction() {
        if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
            document.getElementById("goTop").style.display = "block";
        } else {
            document.getElementById("goTop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    </script>


  </body>
</html>
