<% include partials/home_header %>
<link rel="stylesheet" href="/css/card.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
<style>
    .text-primary {
        color: #485460 !important;
    }
</style>

<script>
    function printContent(el) {
        var restorepage = document.body.innerHTML;
        var printcontent = document.getElementById(el).innerHTML;
        document.body.innerHTML = printcontent;
        window.print();
        document.body.innerHTML = restorepage;
    }
</script>
<% include partials/home_navbar %>
<a class="btn btn-danger btn-outline-danger m-3" href="javascript:history.back()">Back</a>
<button class="btn btn-outline-primary" onclick="printContent('download_pdf')">Print Card</button>
<!-- <hr class="prettyline"> -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="download_pdf" class="card-container">
                <section class="student-id">
                    <div class="container-fluid">
                        <div class="row" style="padding: 10px 5px 5px 5px;">
                            <div class="col-sm-2" style="padding: 0px; height: 20px;">
                                <img style="height: 50px; width: 50px; border-radius: 5px;" class=""
                                     src="<%= cards.logoimage %>" alt="">
                            </div>
                            <div class="col-sm-10">
                                <div><%= cards.collegename.length > 38 ? cards.collegename.substring(0,37) + "..." : cards.collegename %></div>
                                <div><%= cards.collegeaddress.length > 38 ? cards.collegeaddress.substring(0,37) + "..." : cards.collegeaddress %></div>
                                <div><%= cards.collegenumber.length > 38 ? cards.collegenumber.substring(0,37) + "..." : cards.collegenumber %></div>
                            </div>
                        </div>
                        <hr style="margin: 5px;">
                        <div class="text-center">STUDENT ID CARD</div>
                        <div class="row">

                            <div class="col-sm-8" style="line-height: 1.7">
                                <div>Name: <%= cards.studentname.length > 21 ? cards.studentname.substring(0,20) + "..." : cards.studentname %></div>
                                <div>Roll no.: <%= cards.rollnumber.length > 20 ? cards.rollnumber.substring(0,19) + "..." : cards.rollnumber %></div>
                                <div>Roll no.: <%= cards.branch.length > 20 ? cards.branch.substring(0,19) + "..." : cards.branch %></div>
                                <div>Roll no.: <%= cards.studentmobile.length > 20 ? cards.studentmobile.substring(0,19) + "..." : cards.studentmobile %></div>
                            </div>
                            <div class="col-sm-4">
                                <img style="height: 80px; width: 70px; border-radius: 5px;" class=""
                                     src="<%= cards.image %>" alt="">
                            </div>
                        </div>
                    </div>


                </section>

                <section class="student-id">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-sm-12" style="line-height: 1.7">
                                <div class="text-center pt-2">OTHER DETAILS</div>
                                <hr style="margin: 5px;">
                                <div>Address: <%= cards.address %></div>
                                <div>Joining Date: <%= cards.yrofjoining %></div>
                                <div>Valid Upto: <%= cards.validupto %></div>
                            </div>
                        </div>
                    </div>


                </section>

            </div>
        </div>
    </div>

</div>
<!-- <hr class="prettyline"> -->

</body>
</html>
