<% include partials/home_header %>
<script>
    function printContent(el) {
        var restorepage = document.body.innerHTML;
        var printcontent = document.getElementById(el).innerHTML;
        document.body.innerHTML = printcontent;
        window.print();
        document.body.innerHTML = restorepage;
    }
</script>
<% include partials/home_navbar %>
<% var item; %>
<% if(myid == 0){ %>
    <% item = user.letter_3[user.letter_3.length - 1]; %>
<% }else{ %>
    <% item = myid %>
<% } %>
<main role="main">
    <a class="btn btn-danger btn-outline-danger m-3" href="/homepage">Back</a>

    <div class="container">


        <div class="bg-light">
            <div class="row">
                <div class="col-md-8 bg-light left-section">
                    <div class="h2 text-center mb-5">Letter</div>


                    <div id="hello">
                        <div class="pl-5 pr-5 pt-3">
                            <p>Name, Deisgnation, candidate_name, date, job_location - </p>
                            <br>
                            <p><%= item.name %> , <%= item.designation %></p>
                            <p><%= item.candidate_name %></p>
                            <p><%= item.candidate_name %></p>
                            <p><%= item.date %></p>
                            <p><%= item.job_location %></p>

                            <p>company_name, joining_date, first_pay_date, job_title, supervisor, end_date, package - </p>
                            <p><%= item.company %></p>
                            <p><%= item.joining_date %></p>
                            <p><%= item.first_pay_date %></p>
                            <p><%= item.jobtitle %></p>
                            <p><%= item.supervisor %></p>
                            <p><%= item.end_date %></p>
                            <p><%= item.package %></p> 

                        </div>
                    </div>
                    <form action="/download" method="GET">
                        <button class="btn btn-success btn-outline-dark btn-sm mb-2" type="submit" disabled><i
                                    class="fa fa-file-download"></i>&nbsp;Download Docx
                        </button>
                        <button class="btn btn-success btn-outline-dark btn-sm mb-2" type="button"
                                onclick="printContent('hello')"><i class="fa fa-print"></i>&nbsp;Download Pdf
                        </button>
                    </form>
                    <a href="/letter_3" class="btn btn-success btn-outline-dark btn-sm mb-2">New Application</a>

                </div>
                <div class="col-md-4 right-section">
                    <div class="h2 text-center section-heading p-3">Recent Commits</div>
                    <hr>
                    <% user.letter_3.reverse().forEach(function(dates){ %>
                        <div class="pt-3 m-1 rounded text-center text-dark section-box">
                            <div class="file-date"><%= moment(dates.committed).format('MMMM DD, h:mm a'); %></div>
                            <div class="file-reason">Date: <%= dates.date %></div>
                            <div class="file-name"><%= dates.name %></div>
                            <p>
                                <a class="btn btn-outline-dark btn-sm pl-4 pr-4"
                                   href="/letter/recentletter_3/<%= dates._id %>">See</a>
                                <a class="btn btn-outline-info btn-sm pl-4 pr-4"
                                   href="/letter/<%= dates._id %>/edit_3">Edit</a>
                            <form action="/letter/<%= dates._id %>/delete_3?_method=DELETE" method="POST">
                                <button class="btn btn-outline-info btn-sm pl-4 pr-4">Delete
                                </button>
                            </form>
                            </p>
                        </div>
                        <hr>
                    <% }); %>
                </div>
            </div>

        </div>
    </div>

</main>

<% include partials/footer_script %>

</body>
</html>
