<% include partials/home_header %>
<script>
    function printContent(el) {
        var restorepage = document.body.innerHTML;
        var printcontent = document.getElementById(el).innerHTML;
        document.body.innerHTML = printcontent;
        window.print();
        document.body.innerHTML = restorepage;
    }
</script>
<% include partials/home_navbar %>
<% var item; %>
<% if(myid == 0){ %>
    <% item = user.letter_t1_t1[user.letter_t1_t1.length - 1]; %>
<% }else{ %>
    <% item = myid %>
<% } %>
<main role="main">
    <a class="btn btn-danger btn-outline-danger m-3" href="/homepage">Back</a>

    <div class="container">


        <div class="bg-light">
            <div class="row">
                <div class="col-md-8 bg-light left-section">
                    <div class="h2 text-center mb-5">Letter</div>


                    <div id="hello">
                        <div class="pl-5 pr-5 pt-3">
                            <p><%= item.name + ", " + item.designation %></p>
                            <p><%= item.address %></p>

                            <p><%= item.date %></p>

                            <p><%= item.supervisor_first_name + " " + item.supervisor_last_name + ", " + item.supervisor_designation %></p>
                            <p><%= item.company_name %></p>
                            <p><%= item.company_address %></p>

                            <p>Mr. or Ms. <%= item.supervisor_last_name %>:</p>

                            <p>I am writing to request your approval for vacation leave from
                                <span><%= item.start_date %></span> through <span><%= item.end_date %></span>. I know
                                how important it is to ensure that my work is handled during the time I am away. I will
                                be happy to provide training assistance and support in advance of my vacation to the
                                team members who will be helping in my absence, and will ensure that all projects are
                                organized in a manner that will make it easy for progress to continue as needed during
                                the time I am away.</p>

                            <p>Thank you for your consideration and support with this request. Please let me know of
                                your decision at your earliest convenience so I can make travel arrangements.</p>

                            <p>Regards,</p>

                            <p><%= item.name %></p>
                        </div>
                    </div>
                    <form action="/download" method="GET">
                        <button class="btn btn-success btn-outline-dark btn-sm mb-2" type="submit" disabled><i class="fa fa-file-download"></i>&nbsp;Download Docx</button>
                        <button class="btn btn-success btn-outline-dark btn-sm mb-2" type="button" onclick="printContent('hello')"><i class="fa fa-print"></i>&nbsp;Download Pdf</button>
                    </form>
                    <a href="/letter" class="btn btn-success btn-outline-dark btn-sm mb-2">New Application</a>

                </div>
                <div class="col-md-4 right-section">
                    <div class="h2 text-center section-heading p-3">Recent Commits</div>
                    <hr>
                    <% user.letter_t1_t1.reverse().forEach(function(dates){ %>
                        <div class="pt-3 m-1 rounded text-center text-dark section-box">
                            <div class="file-date"><%= moment(dates.committed).format('MMMM DD, h:mm a'); %></div>
                            <div class="file-reason">Leave Date: <%= dates.date %></div>
                            <div class="file-name"><%= dates.name %></div>
                            <p><a class="btn btn-outline-dark btn-sm pl-4 pr-4" href="/letter/recentletter/<%= dates._id %>">See</a>
                            <a class="btn btn-outline-info btn-sm pl-4 pr-4"
                            href="/letter/<%= dates._id %>/edit">Edit</a>
                            </p>
                        </div>
                        <hr>
                    <% }); %>
                </div>
            </div>

        </div>
    </div>

</main>

<% include partials/footer_script %>

</body>
</html>
