<% include partials/home_header %>
<% include partials/home_navbar %>

<% var item; %>
<% if(myid == 0){ %>
<%	item = user.application_t1_t1[user.application_t1_t1.length-1];%>
<% }else{ %>
<%	item = myid%>
<% } %>

	<main role="main">
		<a class="btn btn-danger btn-outline-danger m-3" href="/homepage">Back</a>
	<div class="container">
		

		<div class="bg-light">
				<div class="row">
					<div class="col-md-8 bg-light">
						<div class="h2 text-center mb-5">Application for leave in School.</div>
						
						<p>To,</p>
						<p>The Principal,</p>
						<p><%= item.school %></p>
						<p><%= item.address%></p>
						<p><%= moment(item.date).format("Do MMM YYYY") %></p>
						<p>Sir/Ma'am',</p>
						<p>With due respect I beg to state that I am not in a position to attend the school as I am down with <span><%= item.reason %></span>. Since it is a communicable disease, I have been advised quarantine and a few days complete rest. Therefore kindly grant me leave for ten days</p>
						<p>Thanking you,</p>
						<p>Yours obediently,</p>
						<p><%= item.name %></p>


						<!-- <p>Name - <%= user.application_t1_t1[user.application_t1_t1.length-1].name %></p>
						<p>School Name - <%= user.application_t1_t1[user.application_t1_t1.length-1].school %></p>
						<p>Address - <%= user.application_t1_t1[user.application_t1_t1.length-1].address%></p>
						<p>Date - <%= user.application_t1_t1[user.application_t1_t1.length-1].date %></p>
						<p>Reason - <%= user.application_t1_t1[user.application_t1_t1.length-1].reason %></p>
						<p>Committed - <%= user.application_t1_t1[user.application_t1_t1.length-1].committed %></p>
						<br> -->
						<form action="/download/<%= item._id %>" method="GET">
							<input class="btn btn-success btn-block btn-outline-success btn-lg mb-2" type="submit" value="Download in Docx format">
						</form>
						<a href="/application" class="btn btn-success btn-block btn-outline-success btn-lg">New Application</a>

					</div>
					<div class="col-md-4 bg-info">
						<div class="h2 text-center text-primary">Recent Commits</div>
						<% user.application_t1_t1.reverse().forEach(function(dates){ %>
							<div class="bg-success">
								<p>Name - <%= dates.name %></p>
								<p>Reason - <%= dates.reason %></p>
								<p>Last Saved - <%= moment( dates.committed).format('MMMM Do YYYY, h:mm:ss a') %></p>
								<p><a href="/recentdoc/<%= dates._id %>">See</a></p>
							</div>
						<% }); %>
					</div>
				</div>

		</div>
	</div>

</main>

	<footer class="text-muted">
      <div class="container">
        <button onclick="topFunction()" id="goTop">Top</button>
        
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>





    <script>
      
      window.onscroll = function() {
        scrollFunction();
      };
      window.onload = function() {
        scrollFunction();
      };
      function scrollFunction() {
        if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
            document.getElementById("goTop").style.display = "block";
        } else {
            document.getElementById("goTop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    </script>
  </body>
</html>
