<% include partials/home_header %>
<script>
    function printContent(el) {
        var restorepage = document.body.innerHTML;
        var printcontent = document.getElementById(el).innerHTML;
        document.body.innerHTML = printcontent;
        window.print();
        document.body.innerHTML = restorepage;
    }
</script>
<% include partials/home_navbar %>
<% var item; %>
<% if(myid == 0){ %>
    <% item = user.letter_2[user.letter_2.length - 1]; %>
<% }else{ %>
    <% item = myid %>
<% } %>
<main role="main">
    <a class="btn btn-danger btn-outline-danger m-3" href="/homepage">Back</a>

    <div class="container">


        <div class="bg-light">
            <div class="row">
                <div class="col-md-8 bg-light left-section">
                    <div class="h2 text-center mb-5">Letter</div>


                    <div id="hello">
                        <div class="pl-5 pr-5 pt-3">
                            <p><%= item.college_name %></p>
                            <p><%= item.name + ", " + item.designation %></p>
                            <p><%= item.address %></p>
                            <p><%= item.date %></p>
                            <p>To Whom It May Concern:</p>
                            <p> I am writing this reference at the request of <span><%= item.student_name %></span>, who is applying for admission at <span><%= item.applied_college_name %></span>. I have known him for <span><%= item.duration %></span> in my capacity as a professor at <span><%= item.college_name %></span>. <span><%= item.student_name %></span> took <span><%= item.course_name %></span> course from me and earned superior grades in those classes. Based on his grades, attendance, and class participation, I’d rate his academic performance in my class as exceptional.</p>
                            <p><span><%= item.student_name %></span> has a number of strengths. He is always interested in helping others. He is also a very fast learner. </p>
                            <p>In conclusion, I would highly recommend <span><%= item.student_name %></span>. If his performance in my class is any indication of how he’d perform in future, he will be an extremely positive addition to your institute. If you need any additional information, feel free to contact me. You can email me at <span><%= item.email %></span>.</p>
                            <p>Sincerely,</p>
                            <p><%= item.name %></p>
                            <p><%= item.designation %></p>
                        </div>
                    </div>
                    <form action="/download" method="GET">
                        <button class="btn btn-success btn-outline-dark btn-sm mb-2" type="submit" disabled><i
                                    class="fa fa-file-download"></i>&nbsp;Download Docx
                        </button>
                        <button class="btn btn-success btn-outline-dark btn-sm mb-2" type="button"
                                onclick="printContent('hello')"><i class="fa fa-print"></i>&nbsp;Download Pdf
                        </button>
                    </form>
                    <a href="/letter_2" class="btn btn-success btn-outline-dark btn-sm mb-2">New Application</a>

                </div>
                <div class="col-md-4 right-section">
                    <div class="h2 text-center section-heading p-3">Recent Commits</div>
                    <hr>
                    <% user.letter_2.reverse().forEach(function(dates){ %>
                        <div class="pt-3 m-1 rounded text-center text-dark section-box">
                            <div class="file-date"><%= moment(dates.committed).format('MMMM DD, h:mm a'); %></div>
                            <div class="file-reason">Date: <%= dates.date %></div>
                            <div class="file-name"><%= dates.name %></div>
                            <p>
                                <a class="btn btn-outline-dark btn-sm pl-4 pr-4"
                                   href="/letter/recentletter_2/<%= dates._id %>">See</a>
                                <a class="btn btn-outline-info btn-sm pl-4 pr-4"
                                   href="/letter/<%= dates._id %>/edit_2">Edit</a>
                            <form action="/letter/<%= dates._id %>/delete_2?_method=DELETE" method="POST">
                                <button class="btn btn-outline-info btn-sm pl-4 pr-4">Delete
                                </button>
                            </form>
                            </p>
                        </div>
                        <hr>
                    <% }); %>
                </div>
            </div>

        </div>
    </div>

</main>

<% include partials/footer_script %>

</body>
</html>
