<% include ../partials/home_header %>
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.common-material.min.css"/>
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.material.min.css"/>
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.material.mobile.min.css"/>
<!-- <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2019.1.220/styles/kendo.common.min.css"> -->
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.blueopal.min.css"/>

<script src="http://kendo.cdn.telerik.com/2019.1.220/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2019.1.220/js/kendo.all.min.js"></script>
<script>
    if (typeof jQuery == "undefined") {
        // fallback to local jQuery
        document.write(decodeURIComponent('%3Cscript src="/path/to/local/jquery.min.js" %3E%3C/script%3E'));
    }
</script>

<script src="http://kendo.cdn.telerik.com/2019.1.220/js/kendo.all.min.js"></script>


<link rel="stylesheet" href="../../css/suggestions.css">
<link rel="stylesheet" href="../../css/homepage.css">

<link rel="stylesheet" href="../../css/card.css">

<% include ../partials/home_navbar %>
<main role="main">
    <a class="btn btn-danger btn-outline-danger m-3" href="javascript:history.back()">Back</a>
    <a class="btn btn-primary btn-outline-primary m-3" href="/otherFormats/bulkVisitingCards">Bulk Visiting Card</a>
    <div class="h2 text-center mb-5">Uploaded Data</div>

    <div class="container">

        <div class="container">
            <div class="row">
                <div class="text-center">Sample Card</div>
                <div class="col-md-12">
                    <div id="download_pdf" class="card-container">
                        <section class="student-id">
                            <div class="container-fluid studs">
                                <div class="left">
                                    <div class="h5"><%= result[0].name %></div>
                                    <div class="h6"><%= result[0].designation %></div>
                                    <div class="company"><%= result[0].organization %></div>
                                </div>

                                <div class="right">
                                    <div class="mobile"><%= result[0].contact_number %></div>
                                    <div class="address"><%= result[0].address %></div>
                                </div>

                            </div>


                        </section>

                        <br>
                        <br>
                        <br>

                    </div>
                </div>
            </div>

        </div>



        <div id="grid"></div>

        <br>
        <br>
        <input type="button" class="btn btn-success" value="Download All">

        <div class="container">
            <button onclick="topFunction()" id="goTop">Top</button>

        </div>
        <br>
        <br>
        <br>

        <span id='variableJSON' hidden>
            <%= JSON.stringify(result); %>
        </span>
    </div>
</main>

<% include ../partials/footer_script %>

<script src="https://kendo.cdn.telerik.com/2019.1.220/js/kendo.all.min.js"></script>
<script>
    var data = JSON.parse($('#variableJSON').text());
    $('#variableJSON').remove();
    $(document).ready(function () {
        $("#grid").kendoGrid({
            dataSource: {
                data: data,
                schema: {
                    model: {
                        fields: {
                            name: {type: "string"},
                            organization: {type: "string"},
                            designation: {type: "string"},
                            contact_number: {type: "string"},
                            address: {type: "string"},
                        }
                    }
                },
                pageSize: 10
            },
            tooltip: true,
            scrollable: true,
            sortable: true,
            filterable: true,
            tooltip: true,
            reorderable: true,
            resizable: true,
            pageable: {
                input: true,
                numeric: false,
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            // editable: "incell",
            columns: [
                {field: "name", title: "Name"},
                {field: "organization", title: "Organization"},
                {field: "designation", title: "Designation"},
                {field: "contact_number", title: "Mobile"},
                {field: "address", title: "Address"},
            ]
        });
    });
</script>

</body>
</html>
