<% include ../partials/home_header %>
<link rel="stylesheet" href="/css/suggestions.css">
<% include ../partials/home_navbar %>
<main role="main">
    <a class="btn btn-danger btn-outline-danger m-3" href="javascript:history.back()">Back</a>
    <a class="btn btn-primary btn-outline-primary m-3" href="/application/recentdoc_4">Recent Transfer Applications</a>
    <div class="h2 text-center mb-5">Transfer Application.</div>

    <div class="container">
        <div class="row">
            <!-- first column starts -->

            <div class="col-md-6 " style="border: 1px solid black; border-right: none; border-radius: 5px;">
                <div class="album py-2">
                    <div class="container">

                        <form action="/application_3" method="post">

                            <div class="form-group kkmain">

                                <input value="<%= application.name %>" class="kki form-control" type="text" name="application[name]" id="name" pattern=".{3,}" required title="Name must be atleast three characters!"
                                unselectable="on" autocomplete="off">
                                <label for="name" class="kkl col-form-label">Full Name</label>
                            </div>
                            <div class="form-group kkmain">

                                <input value="<%= application.designation %>" class="kki form-control" name="application[designation]" id="designation" type="string" required unselectable="on" autocomplete="off">
                                <label for="designation" class="kkl col-form-label">Designation</label>
                            </div>
                            <div class="form-group kkmain">

                                <input value="<%= application.company_name %>" class="kki form-control" type="text" name="application[company_name]" id="companyname" pattern=".{3,}" required title="Must be atleast three characters!" autocomplete="off" required>
                                <label for="Company" class="kkl col-form-label">Company Name</label>
                            </div>

                            <div class="form-group kkmain">
                                <input value="<%= application.supervisor_name %>" class="kki form-control" type="text" name="application[supervisor_name]" id="supervisorname" pattern=".{3,}" required title="Must be atleast three characters!" autocomplete="off" required>
                                <label for="supervisor" class="kkl col-form-label">Name of the Supervisor</label>
                            </div>

                            <div class="form-group kkmain">
                                <input value="<%= application.supervisor_designation %>" class="kki form-control" type="text" name="application[supervisor_designation]" id="supervisordesignation" pattern=".{3,}" required title="Must be atleast three characters!" autocomplete="off" required>
                                <label for="supervisor_designation" class="kkl col-form-label">Designation of the Supervisor</label>
                            </div>

                            <div class="form-group kkmain">

                                <input class="kki form-control" type="date" min="2010-10-01" max="2025-10-20" name="application[date]" id="date"
                                       autocomplete="off" required>
                                <!-- <label for="date" class="kkl col-form-label">Date</label> -->
                            </div>
                            <div class="form-group kkmain">

                                <input value="<%= application.reason %>" class="kki form-control" type="text" name="application[reason]" id="reason" pattern=".{3,}" required title="Must be atleast three characters!" autocomplete="off" required>
                                <label for="reason" class="kkl col-form-label">Reason</label>
                            </div>
                            <div class="form-group kkmain">

                                <input value="<%= application.branch %>" class="kki form-control" type="text"  name="application[branch]" id="branch" autocomplete="off" required>
                                <label for="branch" class="kkl col-form-label">Desired Branch</label>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12 mt-3">
                                    <input class="btn btn-block btn-outline-success" type="submit"
                                           value="Save & Download">
                                </div>
                                <!-- <div class="col-sm-12 mt-3">
                                        <a class="btn btn-block btn-primary" href="/application/recentdoc">Recent documents</a>
                                </div> -->
                                <!--  <div class="col-sm-6 mt-3">
                                   <a href="#" class="btn btn-block btn-success" type="button">Download Without Saving &rarr;</a>
                                 </div> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- first column ends -->
            <div class="col-md-6 py-4" style="border: 1px solid black; border-radius: 5px;">


                <p>To</p>
                <p id="supervisornamep"></p>
                <p id="supervisordesignationp"></p>
                <p id="companynamep"></p>
                <br>
                <p id="datep"></p>
                <br>
                <p>Subject: Transfer Application.</p>
                <p>Sir/Ma'am',</p>
                <p>I, <span id="namep"></span>, am working for your company, <span id="companynamep1"></span>, as a <span id="designationp"></span>. With this letter, I wish to convey my request to you for a transfer at our <span id="branchp"></span> branch. This is because <span id="reasonp"></span>.</p>
                
                <p>
                    I have made quite a few good memories and befriended all of my colleagues at the current office branch. I will miss them dearly. I can’t help the circumstances. I have no other option but to work at the <span id="branchp1"></span>. I solemnly swear to show the same performance as I have demonstrated here. I wish you will consider my request for this transfer and do the needful. In anticipation of a favorable reply.
                </p>
    
                <p>
                    Thanking You.
                </p>
                <p>Sincerely</p>
                <p id="namep1"></p>


            </div>
        </div>
    </div>

    <!-- <span id='data' hidden>
        <%= JSON.stringify(data.application_t1_t1); %>
    </span> -->

</main>


<% include ../partials/footer_script %>

<!-- <script>
    $(document).ready(function () {
        var data = JSON.parse($('#data').text());
        $('#data').remove();
        var i;
        for (i = 0; i < data.length; i++) {
            // console.log(data[i]['schoolname']);
            data[i].schoolname = data[i]['school'];
            delete data[i].school;
        }
        let name = document.getElementById("name")
        let schoolname = document.getElementById("schoolname");
        let address = document.getElementById("address");
        let reason = document.getElementById("reason");
        let no_of_days = document.getElementById("no_of_days");

        let namehead = new Suggestions(name, data, {
            minLength: 1, // Number of characters typed into an input to trigger suggestions.
            limit: 3 //  Max number of results to display.
        })

        namehead.getItemValue = function (item) {
            return item.name
        }

        let schoolnamehead = new Suggestions(schoolname, data, {
            minLength: 1, // Number of characters typed into an input to trigger suggestions.
            limit: 3 //  Max number of results to display.
        })

        schoolnamehead.getItemValue = function (item) {
            return item.schoolname
        }

        let addresshead = new Suggestions(address, data, {
            minLength: 1, // Number of characters typed into an input to trigger suggestions.
            limit: 3 //  Max number of results to display.
        })

        addresshead.getItemValue = function (item) {
            return item.address
        }

        let reasonhead = new Suggestions(reason, data, {
            minLength: 1, // Number of characters typed into an input to trigger suggestions.
            limit: 3 //  Max number of results to display.
        })

        reasonhead.getItemValue = function (item) {
            return item.reason
        }

        let no_of_dayshead = new Suggestions(no_of_days, data, {
            minLength: 1, // Number of characters typed into an input to trigger suggestions.
            limit: 3 //  Max number of results to display.
        })

        no_of_dayshead.getItemValue = function (item) {
            return item.no_of_days
        }

    })
</script> -->

<script>
    $(document).ready(function () {
        $(".kki").each(function () {
            if ($(this).val() != "") {
                $(this).parent().addClass("animation");
            }
        });
    });

    //Add animation when input is focused
    $(".kki").focus(function () {
        $(this).parent().addClass("animation animation-color");
    });

    //Remove animation(s) when input is no longer focused
    $(".kki").focusout(function () {
        if ($(this).val() === "")
            $(this).parent().removeClass("animation");
        $(this).parent().removeClass("animation-color");
    })
</script>

<script>
    $(document).ready(function () {
        var name = $("#name");
        var companyname = $("#companyname");
        var supervisorname = $("#supervisorname");
        var date = $("#date");
        var designation = $("#designation");
        var supervisordesignation = $("#supervisordesignation");
        var reason = $("#reason");
        var branch = $("#branch");


        var namep = $("#namep");
        var namep1 = $("#namep1");
        var companynamep = $("#companynamep");
        var companynamep1 = $("#companynamep1");
        var supervisornamep = $("#supervisornamep");
        var datep = $("#datep");
        var designationp= $("#designationp");
        var supervisordesignationp = $("#supervisordesignationp");
        var reasonp = $("#reasonp");
        var branchp = $("#branchp");
        var branchp1 = $("#branchp1");
        
        var monthName = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

        if (name.val() == "") {
            namep.html("____");
            namep1.html("____");
        }
        if (companyname.val() == "") {
            companynamep.html("____");
            companynamep1.html("____");
        }
        if (supervisorname.val() == "") {
            supervisornamep.html("____");
        }
        if (designation.val() == "") {
            designationp.html("____");
        }
        if (date.val() == "") {
            datep.html("____");
        }
        if (reason.val() == "") {
            reasonp.html("____");
        }
        if (supervisordesignation.val() == "") {
            supervisordesignationp.html("____");
        }
        if (branch.val() == "") {
            branchp.html("____");
            branchp1.html("____");
        }
        

        name.on('keyup mouseup focus mouseleave change', function (e) {
            var namehere = name.val();
            if (namehere.length == 0) {
                namep.html("____");
                namep1.html("____");
            } else {
                namep.html(namehere);
                namep1.html(namehere);
            }
        });
        designation.on('keyup mouseup focus mouseleave change', function (e) {
            var designationhere = designation.val();
            if (designationhere.length == 0) {
                designationp.html("____");
            } else {
                designationp.html(designationhere);
            }
        });
        companyname.on('keyup mouseup focus mouseleave change', function (e) {
            var companynamehere = companyname.val();
            if (companynamehere.length == 0) {
                companynamep.html("____");
                companynamep1.html("____");
            } else {
                companynamep.html(companynamehere);
                companynamep1.html(companynamehere);
            }
        });
        supervisorname.on('keyup mouseup focus mouseleave change', function (e) {
            var supervisornamehere = supervisorname.val();
            if (supervisornamehere.length == 0) {
                supervisornamep.html("____");
            } else {
                supervisornamep.html(supervisornamehere);
            }
        });
        supervisordesignation.on('keyup mouseup focus mouseleave change', function (e) {
            var supervisordesignationhere = supervisordesignation.val();
            if (supervisordesignationhere.length == 0) {
                supervisordesignationp.html("____");
            } else {
                supervisordesignationp.html(supervisordesignationhere);
            }
        });
        
        date.on('keyup mouseup focus mouseleave mouseout change', function (e) {
            var datehere = date.val();

            if (datehere.length == 0) {
                datep.html("____");
            } else {
                var datehere = new Date(date.val());
                day = datehere.getDate();
                month = datehere.getMonth();
                year = datehere.getFullYear();
                var finaldate = day + " - " + monthName[month] + " - " + year;
                datep.html(finaldate);
            }
        });
        reason.on('keyup mouseup focus mouseleave change', function (e) {
            var reasonhere = reason.val();
            if (reasonhere.length == 0) {
                reasonp.html("____");
            } else {
                reasonp.html(reasonhere);
            }
        });
        branch.on('keyup mouseup focus mouseleave change', function (e) {
            var branchhere = branch.val();
            if (branchhere.length == 0) {
                branchp.html("____");
                branchp1.html("____");
            } else {
                branchp.html(branchhere);
                branchp1.html(branchhere);
            }
        });
        
    });
</script>

</body>
</html>
